{% extends "base.html" %} {% block content %}

<div class="container-fluid">
    <h1 class="text-center text-light mt-4">Shopping List</h1>
  <div class="row">
    <ul id="ingredients-list" class="list-group col-12 px-2 pt-4">
      {% for meal in user_meals %}
        {% if meal.planned %}
          {% for ingredient in meal.ingredients.all|dictsort:"in_stock" %}
            <li class="list-group-item" id="{ ingredient.name }">
              <div class="form-check">
                <input
                  id="{{ ingredient.name }}-checkbox"
                  class="form-check-input"
                  type="checkbox"
                  {% if ingredient.in_stock %}
                  checked
                  {% endif %}
                /><label class="form-check-label" for="{{ ingredient.name }}"
                  >{{ ingredient.name }} for: <strong>{{ meal.meal_name }}</strong></label
                >
              </div>
            </li>
          {% endfor %}
        {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}
